
{%- set client = salt['grains.filter_by']({
    'default': {
        'disable_ssl_verification': False,
        'user': [],
    },
    'Arch': {
        'pkgs': ['git'],
    },
    'Debian': {
        'pkgs': ['git-core'],
    },
    'Gentoo': {
        'pkgs': ['dev-vcs/git'],
    },
    'MacOS': {
        'pkgs': ['git'],
    },
    'RedHat': {
        'pkgs': ['git'],
    },
}, merge=salt['pillar.get']('git:client'), base='default') %}
