
{%- set client = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['git'],
        'user': [],
    },
    'Debian': {
        'pkgs': ['git-core'],
        'user': [],
    },
    'Gentoo': {
        'pkgs': ['dev-vcs/git'],
        'user': [],
    },
    'MacOS': {
        'pkgs': ['git'],
        'user': [],
    },
    'RedHat': {
        'pkgs': ['git'],
        'user': [],
    },
}, merge=salt['pillar.get']('git:client')) %}
